<div
  class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50"
>
  <section
    class="flex flex-col items-center gap-5 w-1/4 min-w-[300px]
   bg-gray-400 p-5 rounded-xl shadow-lg"
  >
    <!-- Título -->
    <p class="text-center font-bold text-xl text-gray-900">
      {{ titleTxt }}
    </p>

    <!-- Formulário -->
    <form
      [formGroup]="updateForm"
      class="space-y-4 w-full"
    >
      <app-primary-input
        formControlName="email"
        type="email"
        label="E-mail"
        placeholder="{{ baseService.user?.email }}"
      >
      </app-primary-input>

      <app-primary-input
        formControlName="first_name"
        type="text"
        label="Nome"
        placeholder="{{ baseService.user?.first_name }}"
      >
      </app-primary-input>

      <app-primary-input
        formControlName="last_name"
        type="text"
        label="Sobrenome"
        placeholder="{{ baseService.user?.last_name }}"
      >
      </app-primary-input>

      <!-- Botões -->
      <div class="flex flex-row items-center justify-around w-full">
        <button
          [disabled]="!updateForm.valid"
          (click)="onSubmit()"
          type="button"
          class="text-white bg-green-500 hover:bg-green-600 focus:outline-none
          focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm
          px-5 py-2.5"
          aria-label="Salvar"
        >
          {{ primaryBtnTxt }}
        </button>

        <button
          (click)="toNavigate(['home'])"
          type="button"
          class="text-white bg-red-500 hover:bg-red-600 focus:outline-none
          focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm
          px-5 py-2.5"
          aria-label="Voltar para a Home"
        >
          {{ backBtnTxt }}
        </button>
      </div>
    </form>
  </section>
</div>
