<section class="bg-gradient-to-t from-green-300 to-green-100 h-screen dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <!--  Logo  -->
    <a href="/landing-page" class="flex items-center mb-6 text-2xl font-extrabold text-gray-900 dark:text-white">
      {{ logoTxtLink.toUpperCase() }}
    </a>
    <!-- Card-->
    <div
      class="w-full bg-white rounded-lg shadow dark:border
      md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          {{ titleTxt }}
        </h1>

        <!--  Formulario-->
        <form [formGroup]="registerForm" class="space-y-4 md:space-y-6" action="#">
          <app-primary-input
            formControlName="email"
            type="email"
            label="E-mail"
            placeholder="email@email.com"
          >
          </app-primary-input>


          <app-primary-input
            formControlName="username"
            type="text"
            label="Username"
            placeholder="username"
          >
          </app-primary-input>

          <div class="flex flex-row gap-2">
            <app-primary-input
              formControlName="first_name"
              type="text"
              label="Nome"
              placeholder="João">
            </app-primary-input>

            <app-primary-input
              formControlName="last_name"
              type="text"
              label="Sobrenome"
              placeholder="Silva">
            </app-primary-input>
          </div>

          <app-primary-input
            formControlName="password"
            type="password"
            label="Password"
            placeholder="••••••••"
          >
          </app-primary-input>


          <button
            [disabled]="!registerForm.valid"
            (click)="onSubmit()"
            type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
disabled:bg-gray-500">
            {{ primaryBtnTxt }}
          </button>

          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{ questionTxt }}
            <a href="/login"
               class="font-medium text-primary-600 hover:underline
               dark:text-primary-500">
              {{ loginTxtLink }}
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
